<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    
    <title>View job</title>
</head>

<body>
    
            <form  method="Post">
                {%csrf_token%}
                {{urlform}}
                {% for result in results %}

                    <p>URL: {{ result.url }} - Result: {{ result.result }} - IP Address: {{ result.ip_address }} - Region: {{ result.region }}</p>

                {% endfor %}    
                
                <button class="email-submit">Submit</button>
            </form>
        </div>
        </div>
    </section>
    
</body>

</html>